.article-header {
    background-color: #141617;
    color: white;
    flex: 1;
    display: flex;
    text-align: center;
    inset: 0;
}
.header-title {
    font-size:  22px ;
    position: relative;
}

.header-subtitle {
    font-size: 16px;
    margin-top: -2%;
    margin-bottom: -0.5%;
}
.header {
    display: block;
    margin-inline: auto;
    padding-right: 20vh;
    flex-direction: row;
}

.header-logo{
    margin-top: 3px;
    margin-bottom: -3vh;
    width: 10vh;
}

.profile-icon {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 6.5%;
    width: 10vh;
    cursor: pointer;
    height: 10vh;
}

.body-col{
    position: fixed;
    min-width: 81.98%;
    margin-left: 18%;
}
.page-body{
    flex: 1;
    
    flex-direction: row;
    display: flex;
    position: fixed;
}


/* CARRITO STYLES */

.scrim {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100vh;
    top: 0;
    text-rendering: optimizeLegibility;
    position: fixed;
    flex-direction: column;
    display: flex;

    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;

    text-align: center;
    background-color: rgba(0, 0, 0, 0.868);
}
.title{
    top: 0;
}
.closeRow {
    width: 70vw;
    flex: 1;
    display: inline-block;
    text-align: end;
}
.cerrarBTN {
    cursor: pointer;
    transition: .2s ease-in-out;
    color: rgb(253, 181, 0);
    text-shadow: 0px 0px 10px rgba(255, 238, 129, 0.621);
    font-size: 38px;
}

.cerrarBTN:hover {
    color: rgb(255, 204, 74);
    text-shadow: 0px 0px 20px rgba(255, 248, 199, 0.756);
}
.dialog {
    margin: auto;
    position: sticky;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 55vw;
    background: #242729;
    border-radius: 19px;
    border: 2px solid #3f4b51;
}


.divider {
    border-style: solid;
    border-color: #3f4b51;
    border-width: 2px 0 0 0;
    width: 80%;
    margin-inline: auto;
}



.section-div::-webkit-scrollbar {
    width: 1.5vh;
    height: 1.5vh;
    background-color: transparent;
}

.section-div::-webkit-scrollbar-track {
    border: 1px solid white;
    background-color: transparent;
    border-radius: 10px;
}

.section-div::-webkit-scrollbar-thumb {

    background-color: #797979;
    border-radius: 12.5px;
}
.section-div {
    max-width: 90%;
    height: 350vh;
    overflow-x: auto;
    overflow-Y: hidden;
}

.seccions-area {
    margin: 10px;
    flex-direction: row;
    flex: 1;
    display: flex;

    margin-inline: auto;
    overflow-x: auto;
    height: 28vh;
    min-width: 0;
    width: fit-content;
    overflow-Y: hidden;
}

.buttons-panel {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    align-items: center;
    height: 100%;

}

.bttn {
    background: linear-gradient(261.38deg,
            rgba(254, 220, 1, 1) 15.10416716337204%,
            rgba(253, 103, 0, 1) 100%);
    border-radius: 6px;
    border: none;
    width: 30%;
    color: black;
    outline: none;
    height: 7vh;
    transition: .2s ease-out;
    margin: 10px;

}
.bttn:hover {
    box-shadow: 1px 0px 5px #fff129, -1px 0px 5px #ff6629;
    color: white;
}

.bttn:active {
    background: linear-gradient(261.38deg,
            rgb(255, 232, 85) 15.10416716337204%,
            rgb(255, 145, 72) 100%);
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 0px #fff129;
}


.correo-field {
    background-color: transparent;
    display: inline-flex;
    border-radius: 8px;
    margin-inline: 15px;
    border: 1px solid #ffb55e;
    width: 43%;
    transition: .2s ease-in-out;
    height: 38px;
    box-shadow: 0px 4px 10px 0px #000000 inset;
    background-color: rgba(0, 0, 0, 0.332);
}
.correo-input {
    margin-inline: 2%;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 90%;
    color: #fff3e6;
    
}
